.messagePanels {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    padding: 10px;
    height: 100vh;

    &__header {
        border-bottom: 1px solid var(--text-gray-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        &__avatar {
            display: flex;
            align-items: center;

            span {
                padding-left: 20px;
                font-size: 16px;
                font-weight: bold;
            }
        }

    }

    &__main {
        display: flex;
        flex-direction: column;
        list-style-type:  none;
        overflow-y: auto;
        margin-bottom:20px;
        padding: 20px 0;
        height: 100%;

        &__message{
            margin:20px 10px;
        }
    }

    &__footer {
        border-top: 1px solid var(--text-gray-color);
        display: grid;
        grid-template-columns: auto 1fr auto;
        width: 100%;
        max-height: 200px;
        padding: 10px;
        column-gap: 10px;
        align-items: center;

        &__input{
            background-color: var(--text-gray-color);
            border-radius: 15px;
            padding: 15px 10px;
            border:none;

        }
    }

}

