<form class="container container-center">
    {{#> FormAuth
            desc='Вход'
            form-text='sign in'
            cancel-text='Register'
            form-page='pageChat'
            cancel-page='pageRegistration'}}
        <div>
            {{>Input
                    label="Логин"
                    type="text"
                    name="login"
                    value=''
            }}
            {{>Input
                    label="Пароль"
                    type="password"
                    name="password"
                    value=''
            }}
        </div>
    {{/FormAuth}}
</form>
