.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border:1px solid var(--red);
    border-radius: 20px;
    width:auto;




    .user-item__icon {
        cursor: pointer;
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 1px;

        &:hover{
            opacity: 0.8;
        }

        &.user-item__icon_plus{
            //background-image: url("../../assets/icons/circle-plus.svg");
        }

        &.user-item__icon_delete{
            //background-image: url("../../assets/icons/circle-x.svg") ;
        }
    }

    .user-item__name{
        font-size: 14px;
        font-weight: 500;
        margin-right:10px ;
    }
}
