.button {
  background: var(--blue);
  color: var(--white);
  font-size: 14px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  max-width: 280px;
  height: 38px;
  width: 100%;

  &:hover {
    opacity: 0.8;
  }
}

.button-pointer {
  padding: 0;
  background-image: url("../../img-icons/icons/Group 202.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
}

.button-mark {
  padding: 0;
  background-image: url("../../img-icons/icons/Group 194.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 36px;
  height: 36px;
}

.button-clamp {
  padding: 0;
  background-image: url("../../img-icons/icons/Group 197.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 32px;
  height: 32px;
}

.button-cancel {
  padding: 0;
  background-image: url("../../img-icons/icons/Group 20222.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  width: 36px;
  height: 36px;
}

.button-number {
  padding: 10px;
  max-width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}


.button-r {
  border-radius: 50%;
}


