.chatPage {
  grid-template: "chat-page__left chat-page__main" 1fr / auto 1fr;
  display: grid;
  grid-auto-flow: row;
  overflow: hidden;

  &__left {
    max-width: 350px;
    grid-area: chat-page__left;
  }

  &__main {
    grid-area: chat-page__main;
  }
}



