<div class="chatPage">
    <div class="chatPage__left">
        {{>ChatSidebar list=chatSidebar}}
    </div>
    <div class="chatPage__main">
        {{>MessagePanel messageList=messageList currentUser=currentUser}}
    </div>
</div>