<div class="chatPage">
    <div class="chatPage__left">
        {{>
            ChatList
            list=chatList
        }}
    </div>
    <div class="chatPage__main">
        {{>
            MessageListFooter
            messageList=messageList
            currentUser=currentUser
        }}
    </div>
</div>
