.error {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  &__number{
    font-size:40px;
    color:var(--red);
    font-weight:bold;
  }

  &__text{
    margin:20px;
    font-weight:bold;
    font-size:18px;
    color:var(--dark-charcoal-color);
  }
}




