<div class="containerForm container-shadow">
    <h2 class="containerForm__header">{{desc}}</h2>
    <div>{{> @partial-block }}</div>
    <div class="containerForm__buttons">
        {{{ Button desc=form-text page=form-page }}}
        {{{ Link desc=cancel-text page=cancel-page }}}
    </div>
</div>

