<form class="container">
    {{#> FormProfile withButton=true button-text="Сохранить" button-page="pageProfile" user=user}}
        {{>InputProfile label="Старый пароль" type="password" name="oldPassword" value=password }}
        {{>InputProfile label="Новый пароль" type="password" name="newPassword" }}
        {{>InputProfile label="Повторите новый пароль" type="password" name="repeatPassword" }}
    {{/FormProfile}}
</form>
