<form class="container container-center">
    {{#> FormAuth desc='Регистрация' form-text='sign up' cancel-text='Login' form-page='pageChat' cancel-page='loginPage'}}
        {{>Input label="Почта" type="email" name="email" }}
        {{>Input label="Логин" type="text" name="login"}}
        {{>Input label="Имя" type="text" name="first_name" }}
        {{>Input label="Фамилия" type="text" name="second_name"}}
        {{>Input label="Телефон" type="text" name="phone"}}
        {{>Input label="Пароль" type="password" name="password"}}
        {{>Input label="Пароль (ещё раз)" type="password" name="password2"}}
    {{/FormAuth}}
</form>
