<div class="container-form container-box-shadow">
    <h2 class="container-form__header">
        {{desc}}
    </h2>
    <div>
        {{> @partial-block }}
    </div>
    <div class="container-form__buttons">
        {{{ Button desc=FormText page=chatPage }}}
        {{{ Link desc=repealText page=repealPage }}}
    </div>
</div>

