* {
  margin: 0;
  padding: 0;
  font-family: Arial, serif;
  box-sizing: border-box!important;
}

:root {
  --black-color: black;
  --white: white;
  --red: red;
  --blue: #3369F3;
  --text-gray-color: #EFEFEF;
  --text-plash-color: #999;
  --dark-charcoal-color: #353434;
  --text-color: #1E1E1E;
}

.container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
}

.container-center{
  align-items: center;
}

input {
  width: 100%;
  outline: none;
}

select {
  width: 100%;
}

.container-box-shadow{
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
}


