.menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    cursor: pointer;


    &:hover{
        opacity: 0.8;
    }

    &.disabled{
        opacity: 0.5;
        cursor: inherit;
    }

    .menu-item__icon {
        margin-right: 5px;
        width: 22px;
        height: 22px;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 1px;

        &.menu-item__icon_media {
            //background-image: url("../../assets/icons/image.svg") ;
        }

        &.menu-item__icon_file {
            //background-image: url("../../assets/icons/file.svg");
        }

        &.menu-item__icon_location {
            //background-image: url("../../assets/icons/location.svg");
        }

        &.menu-item__icon_plus{
            //background-image: url("../../assets/icons/circle-plus.svg");
        }

        &.menu-item__icon_delete{
            //background-image: url("../../assets/icons/circle-x.svg") ;
        }

        &.menu-item__icon_avatar{
            //background-image: url("../../assets/icons/chat-avatar.svg") ;
        }
    }

    .menu-item__caption{
        font-size: 12px;
        font-weight: 500;
    }
}
