.modal-load-file__image{
    border-radius: 10px;
    border: 1px var(--red) solid;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    display: block;
    height: auto;
    width: 200px;
}
