.link {
    font-size: 13px;
    display: flex;
    text-decoration: none;
    padding: 5px;
    color: var(--blue);
    font-weight: bolder;
    cursor: pointer;


    &:hover {
        transition: .5s;
        text-decoration: underline;
        font-size: 13.4px;
    }

    &.link-line{
        width: 510px;
        border-bottom: 1px solid var(--text-plash-color);
    }

    .link-icon{
        width: 12px;
        font-size: 16px;
        height: 12px;
        margin-left: 5px;
        margin-top: 5px;
        background: url("../../img-icons/icons/Polygon 1.svg") no-repeat;
    }

    &.link-success{
        color: var(--blue);
    }

    &.link-danger{
        color: var(--red);
    }

    &.link-primary{
        color: var(--text-plash-color);
    }


}




