.input {
    padding: 10px;

    &__container {
        display: flex;
        height: 38px;
        flex-direction: column;
    }

    &__label {
        color: var(--text-plash-color);
        font-size: 13px;
    }

    &__value {
        border: none;
        border-bottom: 1px solid var(--blue);
        padding: 0 0 7px;

        &:focus-visible {
            outline: none;
        }
    }

    &__text-error {
        margin-top: 5px;
        color: var(--red);
        font-size: 10px;
        font-weight: 400;
        display: none;

    }


    &__error &__text-error {
        display: block;
    }

    .input__value-error {
        color: var(--black-color);
    }
}






